{% extends '@MarmitsGoogleIdentification/index.html.twig' %}

 {% block css %}

     {{ encore_entry_link_tags('marmits') }}

 {% endblock %}

{% block body %}


<div class="container-fluid">
    <h1> into bundle </h1>
    <div class="row">
        <div class="col-lg-12">
            <h2>Parameters Google</h2>
            <p>{{ dump(googleProvider) }} %}</p>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a class="btn btn-warning connect_social" href="{{ path('getaccesstokengoogle') }}" role="button">getaccesstokenGoogle</a>
            </div>
            <hr>
            <h2>Parameters Github</h2>
            <p>{{ dump(githubProvider) }} %}</p>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a class="btn btn-warning connect_social" href="{{ path('github_authorize') }}" role="button">github_authorize</a>
            </div>
            <hr>

        </div>
    </div>
</div>



    {% block javascripts %}
        {{ encore_entry_script_tags('marmits') }}
    {% endblock %}

{% endblock %}

