{% extends '@MarmitsGoogleIdentification/index.html.twig' %}

 {% block css %}

     {{ encore_entry_link_tags('marmits') }}

 {% endblock %}

{% block body %}
    <h1> Access Token </h1>


    <div class="token">
        <ul>
            <li>accesstoken : </li><li>{{ accesstoken }}</li>
            <li>refreshtoken : </li><li>{{ refreshtoken }}</li>
            <li>expiredin : </li><li>{{ expiredin }}</li>
            <li>expired : </li><li>{{ expired }}</li>
            <li>id_token : </li><li>{{ id_token }}</li>
        </ul>

    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('marmits') }}
    {% endblock %}

{% endblock %}

