{% extends '@MarmitsGoogleIdentification/index.html.twig' %}

 {% block css %}

     {{ encore_entry_link_tags('marmits') }}

 {% endblock %}

{% block body %}



<div class="container-fluid">

    <div class="row g-4 ">
        <div class="col-6 offset-3 align-self-center gy-5">

            <div class="private">
            {% if email is defined %}
            <h1> Private Page </h1>
                    <ul>

                        {% if refreshtoken is defined %}
                            {% if refreshtoken != '' %}
                                <li>refreshtoken : {{ refreshtoken }}</li>
                            {% endif %}
                        {% endif %}

                        {% if expiredin is defined %}
                            <li>expiredin : {{ expiredin }}</li>
                        {% endif %}

                        {% if expired is defined %}
                            <li>expired : {{ expired }}</li>
                        {% endif %}

                        {% if picture is defined %}
                            <li><img class="picture" src="{{ picture }}" /></li>
                        {% endif %}

                        {% if name is defined %}
                            <li>name : {{ name }}</li>
                        {% endif %}

                         <li class="email">email : {{ email }}</li>

                    </ul>

            {% endif %}

                <div class="alert alert-danger message hidden" role="alert">

                </div>
            </div>
        </div>
    </div>
</div>
    {% block javascripts %}
        {{ encore_entry_script_tags('marmits') }}
    {% endblock %}

{% endblock %}

